/**
Loader Box
*/

.ad-up-box-loader, .dot-box {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

	&.blured:not(:has(.global)) {
		background-color: var(--loader-bg-blur);
		-webkit-backdrop-filter: blur(1px);
		backdrop-filter: blur(1px);
	}

	// &:not(.mini-loader) {
	// 	.loader {
	// 		position: absolute !important;
	// 		top: min(50vh, 50%);
	// 		transform: translateY(-50%);
	// 	}
	// }
	
	.loader {
		position: relative;
		margin: 0 auto;
		
		&:has(.circular)::before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		&.global {
			aspect-ratio: 1 / 1;
			width: 100px;
			border-radius: 8px;
			background-color: var(--loader-bg-blur);
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&.global-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}

/**
Loader 1
*/

$colors:
	hsla(337, 84%, 48%, 0.75)
	hsla(160, 50%, 48%, 0.75)
	hsla(190, 61%, 65%, 0.75)
	hsla( 41, 82%, 52%, 0.75);
$size: 2.5em;
$thickness: 0.5em;

// Calculated variables.
$lat: calc(($size - $thickness) / 2);
$offset: $lat - $thickness;

.inner-loader {
	position: relative;
	width: $size;
	height: $size;
	transform: rotate(165deg);
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: $thickness;
		height: $thickness;
		border-radius: calc($thickness / 2);
		transform: translate(-50%, -50%);
	}
	
	&:before {
		animation: before 2s infinite;
	}
	
	&:after {
		animation: after 2s infinite;
	}
}

@keyframes before {
	0% {
		width: $thickness;
		box-shadow:
		$lat (-$offset) nth($colors, 1),
		(-$lat) $offset nth($colors, 3);
	}
	35% {
		width: $size;
		box-shadow:
		0 (-$offset) nth($colors, 1),
		0   $offset  nth($colors, 3);
	}
	70% {
		width: $thickness;
		box-shadow:
		(-$lat) (-$offset) nth($colors, 1),
		$lat $offset nth($colors, 3);
	}
	100% {
		box-shadow:
		$lat (-$offset) nth($colors, 1),
		(-$lat) $offset nth($colors, 3);
	}
}

@keyframes after {
	0% {
		height: $thickness;
		box-shadow:
		$offset $lat nth($colors, 2),
		(-$offset) (-$lat) nth($colors, 4);
	}
	35% {
		height: $size;
		box-shadow:
			$offset  0 nth($colors, 2),
		(-$offset) 0 nth($colors, 4);
	}
	70% {
		height: $thickness;
		box-shadow:
		$offset (-$lat) nth($colors, 2),
		(-$offset) $lat nth($colors, 4);
	}
	100% {
		box-shadow:
		$offset $lat nth($colors, 2),
		(-$offset) (-$lat) nth($colors, 4);
	}
}

@keyframes rotate {
	100% {
	transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	}
	50% {
	stroke-dasharray: 89, 200;
	stroke-dashoffset: -35px;
	}
	100% {
	stroke-dasharray: 89, 200;
	stroke-dashoffset: -124px;
	}
}
  
@keyframes color {
	100%,
	0% {
	stroke: #d62d20;
	}
	40% {
	stroke: #0057e7;
	}
	66% {
	stroke: #008744;
	}
	80%,
	90% {
	stroke: #ffa700;
	}
}

/**
Loader 2
*/
.loader.ellipse {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	color: #000000;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: inherit;
		height: inherit;
		border-radius: 50%;
		transform: rotateX(70deg);
		animation: 1s spin linear infinite;
	}
	&::after {
		color: #fb0842;
		transform: rotateY(70deg);
		animation-delay: .4s;
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: .3em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: .3em .3em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 .3em 0 0px currentcolor;
	}
	37% {
		box-shadow: -.3em .3em 0 0 currentcolor;
	}
	50% {
		box-shadow: -.3em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -.3em -.3em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -.3em 0 0 currentcolor;
	}
	87% {
		box-shadow: .3em -.3em 0 0 currentcolor;
	}
}

/**
Loader 3
*/
.loader.square {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;

	&::after,
	&::before {
		content: '';  
		box-sizing: border-box;
		width: 48px;
		height: 48px;
		border: 2px solid #000000;
		position: absolute;
		left: 0;
		top: 0;
		animation: rotation 2s ease-in-out infinite alternate;
	}
	&::after {
		border-color: #fb0842;
		animation-direction: alternate-reverse;
	}
}
  
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 

/**
Loader 4
*/
.loader.triangle {
    --path: #2F3545;
    --dot: #fb0842;
    --duration: 3s;

	width: 48px;
    height: 44px;
    position: relative;

    &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 37px;
		left: 21px;
		transform: translate(-10px, -18px);
		animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;

        polygon{
            fill: none;
            stroke: var(--path);
            stroke-width: 10px;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
        polygon {
            stroke-dasharray: 145 (221 - 145) 145 (221 - 145);
            stroke-dashoffset: 0;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }
    }
}

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }
    66% {
        stroke-dashoffset: 147;
    }
    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }
    66% {
        transform: translate(10px, -18px);
    }
    100% {
        transform: translate(-10px, -18px);
    }
}

/**
Loader 4
*/

.loader {
	display: block;

	.paddle {
		height: 40px;
		width: 3px;
		background-color: rgb(0, 0, 0);
		position: relative;
	}

	.player_one {
		@extend .paddle;
		left: -100px;
		animation: movePaddleOne 4s infinite;
	}
  
	.player_two {
		@extend .paddle;
		left: 100px;
		animation: movePaddleTwo 4s infinite;
	}
  
	.ball {
		position: relative;
		height: 5px;
		width: 5px;
		border-radius: 50%;
		background-color: rgb(0, 0, 0);
		animation: moveBall 4s infinite linear;
	}
  
	@keyframes movePaddleOne {
		0%, 100% {
			transform: translate(0px, 100px);
		}
		25%{
			transform: translate(0px, 0px);
		}
		50%{
			transform: translate(0px, 0px);
		}
		75%{
			transform: translate(0px, 100px);
		}
	}
  
	@keyframes movePaddleTwo {
		0%, 100% {
			transform: translate(0px,-50px);
		}
		25%{
			transform: translate(0px,10px); 
		}
		50%{
			transform: translate(0px,0px);
		}
		75%{
			transform: translate(0px,50px);
		} 
	}

	@keyframes moveBall {
		0%, 100% {
		  transform: translate(-100px, 30px);
		}
		25% {
		  transform: translate(98px, -25px);
		}
		50% {
		  transform: translate(-100px, -55px);
		}
		75% {
		  transform: translate(98px, 15px);
		}
	}
}