@property --progress-value {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

b, strong {
  font-weight: bold;
}

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-border);
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

[type=checkbox]:disabled {
  cursor: not-allowed;
}

@font-face {
  font-family: "Marianne-Medium";
  src: url("/static/fonts/Marianne-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Marianne-Regular";
  src: url("/static/fonts/Marianne-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Material Icons Extended";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(//fonts.gstatic.com/s/materialiconsextended/v149/kJEjBvgX7BgnkSrUwT8UnLVc38YydejYY-oE_LvJHMXBBA.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: var(--selection-color);
}

::selection {
  background: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-color);
}

body {
  position: relative;
  height: 100%;
  width: 100vw;
  line-height: 1.5;
  font-family: "Marianne-Medium", sans-serif;
  font-size: 14px;
  background-color: var(--main-background);
  color: var(--color-fg-default);
}
@media screen and (min-width: 1800px) {
  body {
    font-size: 16px;
  }
}

.cls-1 {
  fill: var(--card-primary);
}

span,
p,
h1, h2, h3, h4, h5,
a {
  cursor: default;
}

span p,
span a,
span h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h1 {
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}

ul, ol {
  list-style: none;
}

button span {
  cursor: pointer;
}

:root {
  --flag-blue: #000091;
  --flag-white: #FFFFFF;
  --flag-blue: #E1000F;
  --flag-text-gradient: linear-gradient(90deg, rgba(0,0,145,1) 0%, rgba(0,0,145,0.05) 50%, rgba(225,0,15,0.05) 50%, rgba(225,0,15,1) 100%);
  --flag-gradient: linear-gradient(90deg, rgba(0,0,145,1) 0%, rgb(255, 255, 255) 50%, rgba(225,0,15,1) 100%);
  --card-red: #ff463a;
  --card-cyan: #40c8e0;
  --card-blue: #0981fa;
  --card-green: #35c759;
  --card-orange: #ff9500;
  --card-primary: #000;
  --card-primary-inverted: #fff;
  --card-secondary: #818185;
  --connection-logo-color: var(--card-primary);
  --color-fg-default: #c9d1d9;
  --color-fg-secondary: #818185;
  --primary: #1b3a57;
  --primary-dark: #2055EE;
  --primary-darkest: #133FC0;
  --input-placeholder: #A6ACCD;
  --input-text: #646B8C;
  --border-default: #E1E6F9;
  --border-active: var(--border-default);
  --background: #fff;
  --button-text: #FFFFFF;
  --main-background: #1c0126;
  --nav-background: #33143f;
  --card-background: #f2f2f7;
  --card-hover: #e3e3eb;
  --separator-color: rgba(0, 0, 0, 0.1);
  --selection-color: rgba(0, 0, 145, 0.1);
  --progress-bar-color: #ffffff;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
  --href-color: #0969da;
}

body.variant {
  --main-background: #ffffff;
  --nav-background: linear-gradient(var(--gradient-angle), #f62ca4, #fb0842);
  --color-fg-default: #3a3c5e;
}

.link {
  color: var(--href-color) !important;
  font-size: 14px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.relative {
  position: relative;
}

.flex {
  display: flex !important;
}

.flex-auto {
  flex: auto !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.block {
  display: block !important;
}

.items-center {
  align-items: center !important;
}

.items-end {
  align-items: flex-end !important;
}

.space-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.padding-10 {
  padding: 10px 0 !important;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.card-primary {
  color: var(--card-primary) !important;
}

.card-secondary {
  color: var(--card-secondary) !important;
}

.card-blue {
  color: var(--card-blue) !important;
}

.card-cyan {
  color: var(--card-cyan) !important;
}

.card-orange {
  color: var(--card-orange) !important;
}

.card-green {
  color: var(--card-green) !important;
}

.card-red {
  color: var(--card-red) !important;
}

.blue-highlight {
  color: var(--href-color) !important;
}

.lined-hover:hover {
  text-decoration: underline;
}

.lined {
  text-decoration: underline;
}

.w-full {
  width: 100% !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.py-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-f4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-f5 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-20 {
  padding-bottom: 30px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-3 {
  padding-left: 16px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.my-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mx-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.text-bold {
  font-weight: 600 !important;
}

.fs-14 {
  font-size: 14px !important;
}

.home {
  display: grid;
  grid: "nav header" min-content "nav module-host" 1fr/min-content 1fr;
  min-height: 100vh;
}

header {
  display: grid;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-bar {
  grid-area: nav;
  height: 100vh;
  position: sticky;
  top: 0;
  display: block;
  z-index: 12;
  padding: 20px;
}
.nav-bar nav {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: wwidth 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 128px;
  background: var(--nav-background);
  padding: 15px;
}
.nav-bar .nav-container {
  color: #fff;
  margin-top: 80px;
  flex: 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bottom {
  height: 80px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .icon-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.nav-bar .icon-container:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.nav-bar .icon-container a {
  width: 100%;
  height: 100%;
}

main {
  grid-area: module-host;
  min-width: 0;
  position: relative;
  overflow: auto;
}
main .data {
  height: 100vh;
  overflow-y: scroll;
}
main .featured-bar {
  z-index: 45;
  position: sticky;
  top: 0;
  background-color: var(--main-background);
  display: block;
  min-height: 80px;
  padding-top: 38px;
}
@media screen and (min-width: 1800px) {
  main .featured-bar {
    padding-top: 48px;
  }
}
main .featured-bar .featured-bar-margin {
  padding: 0 34px;
}
main .featured-bar .featured-bar-margin .featured-bar-content {
  position: relative;
}
main .featured-bar .featured-bar-primary-row {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 32px;
  padding-top: 4px;
  position: relative;
}
main .featured-bar .featured-bar-primary-row .feature-title {
  flex: 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
main .featured-bar .featured-bar-primary-row .feature-title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-fg-default);
  font-size: 32px;
  font-weight: 500;
  left: -1px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  position: relative;
}
main .oa-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-right: 34px;
  padding-left: 34px;
}
main .gr-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-right: 34px;
  padding-left: 34px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 auto;
  grid-gap: 30px;
}

.icon {
  display: inline-block;
  overflow: visible !important;
  fill: currentColor !important;
}
.icon.icon-stroke-only {
  fill: none;
  stroke: currentColor !important;
}

.note {
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-fg-secondary);
}
@media screen and (min-width: 1800px) {
  .note {
    font-size: 14px;
  }
}

.fa-list {
  position: relative;
  color: var(--primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.fa-list .fa-list-row {
  margin-bottom: 24px !important;
  overflow: hidden;
}
.fa-list .fa-list-row .fa-list-l {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  margin: -1px;
  padding: 20px;
  color: #fff;
  background-color: var(--primary);
  text-align: center;
  border-radius: 4px 0 0 4px;
}
@media screen and (max-width: 550px) {
  .fa-list .fa-list-row .fa-list-l {
    width: 100%;
  }
}
.fa-list .fa-list-row .fa-list-m {
  flex: 1;
  padding: 25px;
}
.fa-list .fa-list-row .fa-list-m .fa-list-m-title {
  font-size: 26px;
  color: inherit;
  font-weight: 400;
  margin-bottom: 0.75em;
}
.fa-list .fa-list-row .fa-list-m .fa-list-m-b {
  display: flex;
  align-items: center;
  flex-direction: flex-start;
}
.fa-list .fa-list-row .fa-list-m .fa-list-m-b dl {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}
.fa-list .fa-list-row .fa-list-m .fa-list-m-b dd {
  font-size: 18px;
}
.fa-list .fa-list-row .fa-list-m .fa-list-m-b li:not(:last-child) {
  border-right: 1px solid var(--client-container-border-color);
}
.fa-list .fa-list-row .fa-list-m .fa-list-m-b .main {
  color: #ff396c;
}
.fa-list .fa-list-row .fa-list-r {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid var(--client-container-border-color);
  padding: 25px;
  max-width: 250px;
  flex: 1;
}
@media screen and (max-width: 550px) {
  .fa-list .fa-list-row .fa-list-r {
    max-width: 100%;
    border-left: none;
    border-top: 1px solid var(--client-container-border-color);
  }
}
.fa-list .fa-list-row .fa-list-r .fa-list-edit {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.fa-list .fa-list-row .fa-list-r h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.fa-list .fa-list-row a {
  color: inherit;
}
.fa-list .fa-list-row a:hover {
  text-decoration: underline;
}
.fa-list .fa-list-row.fa-row-border {
  cursor: pointer;
  color: var(--color-fg-default);
  border: 1px solid var(--client-container-border-color);
  padding: 10px 5px;
  border-radius: 5px;
  margin: 0 5px;
  width: max(50% - 10px, 200px);
}
.fa-list .fa-list-row.fa-row-border:hover {
  border-color: var(--color-fg-secondary);
}
.fa-list .fa-list-row .item-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--client-container-border-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.fa-list .fa-list-object {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
.fa-list .fa-list-object .fa-list-object-item {
  white-space: nowrap;
  vertical-align: middle;
}
.fa-list .fa-list-object .fa-list-object-item.primary-o {
  text-overflow: ellipsis;
  overflow: hidden;
}
.fa-list .fa-list-object .fa-list-object-item.primary-o a {
  color: var(--href-color);
  text-align: unset;
}
.fa-list .fa-list-object .fa-list-object-item.primary-o a:hover {
  text-decoration: underline;
}
.fa-list .fa-list-a {
  color: currentColor;
}
.fa-list .fa-list-a h2 {
  font-size: 14px;
  color: var(--href-color);
}
.fa-list .fa-list-a:hover h2 {
  text-decoration: underline;
}
.fa-list .fa-list-prev-card {
  aspect-ratio: 5/4;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: box-shadow ease 0.5s;
  --fa-list-prev-card-base-h: 40px;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-img {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1 auto;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-img .badge-icon {
  height: auto;
  width: 100%;
  position: relative;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-base {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--fa-list-prev-card-base-h);
  background-color: rgba(20, 47, 73, 0.6705882353);
  padding: 0 15px;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-base div {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-base p {
  flex: 1 auto;
  line-height: var(--fa-list-prev-card-base-h);
  font-size: 15px;
  color: #FFF;
  text-align: unset;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-base .card-arrow {
  height: 100%;
  padding: 10px;
}
.fa-list .fa-list-prev-card .fa-list-prev-card-base .card-arrow > .icon {
  transition: ease-in-out 0.2s;
  transform: translateX(-50%);
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.fa-list .fa-list-prev-card:hover .fa-list-prev-card-base {
  text-decoration: underline;
  text-decoration-color: #FFF;
}
.fa-list .fa-list-prev-card:hover .card-arrow > .icon {
  transform: translateX(0);
  opacity: 1;
}

.page-card {
  border-radius: 25px;
  background: #f6f7fb;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.lobby-container {
  padding: 50px;
  min-width: 0;
  grid-column: 2/span 2;
}
.lobby-container .container-title {
  margin-bottom: 35px;
  font-size: 25px;
}
.lobby-container .lobby-card {
  --lobby-card-size: 200px;
  position: relative;
  width: 100%;
  height: var(--lobby-card-size);
}
.lobby-container .lobby-card .content {
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  height: 100%;
  background-color: #fff;
  border-radius: 35px;
  overflow: hidden;
}
.lobby-container .lobby-card .card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 11;
  height: -moz-min-content;
  height: min-content;
}
.lobby-container .lobby-card .card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: linear-gradient(to bottom, transparent 50%, black);
          mask: linear-gradient(to bottom, transparent 50%, black);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  pointer-events: none;
  z-index: -1;
}
body.chrome .lobby-container .lobby-card .card-container::before {
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  background-color: #000;
}
.lobby-container .lobby-card .play-button {
  border-radius: 50px;
  aspect-ratio: 1/1;
  background-color: #62d2f5;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lobby-container .lobby-card .play-button:hover {
  background-color: #1db7da;
}
.lobby-container .lobby-card .play-button svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transform: rotate(90deg);
}
.lobby-container .lobby-card .lobby-name h2 {
  margin-top: 10px;
  font-size: 18px;
}

section {
  margin-bottom: 35px;
}

.home-view-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.home-view-container .home-view-card {
  margin: 5px 0;
  display: inline-block;
  width: 100%;
  border-radius: 25px;
  background-color: #f7f9fb;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home-view-container .home-view-card .card-title h2 {
  font-size: 18px !important;
}
.home-view-container .home-view-card .card-progress-view {
  margin-top: 10px;
}
.home-view-container .home-view-card .card-progress-view progress {
  height: 10px;
  width: 100%;
}
.home-view-container .home-image-card {
  height: 100%;
  background-color: #f7f9fb;
  border-radius: 25px;
  width: 500px;
  padding: 10px;
}

progress[value] {
  display: block;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 80%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) "%";
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
  	calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg)
  	calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%)
  	calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%)
  );
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}
@supports selector(::-moz-progress-bar) {
  progress[value] {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

@keyframes progress {
  from {
    --progress-value: 0;
  }
  to {
    --progress-value: var(--value);
  }
}
.video-player {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body:has(.connection-page) {
  background-color: #000;
}

.connection-page {
  min-height: 100vh;
}
.connection-page section {
  display: flex;
  justify-content: flex-end;
  margin: 0 !important;
  width: 100vw;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-mask: linear-gradient(to right, transparent, black 40%);
          mask: linear-gradient(to right, transparent, black 40%);
}
.connection-page section .semi {
  width: 50%;
}
.connection-page section h1 {
  color: #FFF !important;
  font-size: 30px;
}

.cntc-ext-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-block;
  overflow: visible !important;
  fill: currentColor !important;
}
.icon.icon-stroke-only {
  fill: none;
  stroke: currentColor !important;
}

.cntc {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cntc h1 {
  margin: 0 0 20px;
}
.cntc .newsletter-form {
  margin: 10px 0;
}

.auth-form {
  width: 440px;
  margin: 0 auto;
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.auth-form.error-form {
  width: auto;
  max-width: 500px;
}
.auth-form .auth-title {
  font-weight: 400 !important;
  text-align: center !important;
  line-height: 1.25 !important;
  font-size: 24px !important;
  margin-bottom: 24px !important;
  color: var(--card-primary);
}
.auth-form .mr-3 {
  margin-right: 16px;
}
.auth-form .mr-0 {
  margin: 0 !important;
}
.auth-form .avatar {
  box-shadow: 0 0 0 1px var(--color-avatar-shadow);
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.auth-form .avatar svg {
  position: relative;
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: var(--color-fg-muted);
  text-align: center;
}
.auth-form .sudo-box {
  border-color: var(--color-border-default);
  border: 1px solid var(--color-border-muted);
  border-radius: 6px;
  color: var(--card-primary) !important;
}
.auth-form .sudo-box .sudo-box-row {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.auth-form .sudo-box .sudo-box-row .sudo-box-ob {
  display: inline-flex;
  max-width: 100%;
  min-width: 0;
  flex-direction: column !important;
}
.auth-form .auth-form-body {
  border-radius: 6px;
  padding: 16px;
  font-size: 14px;
  margin-top: 16px !important;
}
.auth-form .auth-form-body.consent {
  padding: 0 !important;
}
.auth-form .auth-form-body .auth-form-top {
  text-align: center;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.5;
  padding-bottom: 16px !important;
  margin-bottom: 24px !important;
}
.auth-form .auth-form-body .auth-form-top p {
  color: var(--card-primary) !important;
  padding: 10px 0;
}
.auth-form .auth-form-body .auth-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form .auth-form-body .auth-form-input > .form-input {
  margin: 10px 0 !important;
}
.auth-form .auth-form-body .auth-form-other-l {
  margin-top: 20px;
  color: #fff;
  font-size: 17px;
}
.auth-form .auth-form-body .auth-form-other-l a {
  font-size: inherit;
  text-decoration: none;
  color: var(--href-color) !important;
}
.auth-form .auth-form-body .auth-form-other-l a.active {
  color: var(--layout-primary) !important;
}
.auth-form .auth-form-body .auth-form-other-l a:hover {
  text-decoration: underline;
}
.auth-form .auth-form-body .auth-form-error .container {
  position: relative;
  padding: 5px 16px;
}
.auth-form .auth-form-body .auth-form-error .container .container-head h1 {
  color: var(--card-primary) !important;
  padding-top: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
  word-break: break-word;
}
.auth-form .auth-form-body .auth-form-error .container .container-body {
  display: inline-block;
  font-size: 14px;
  padding: 24px 0 0;
  vertical-align: top;
  white-space: normal;
  width: 100%;
  color: #FFFFFF;
}
.auth-form .auth-form-body .auth-form-error .container .container-body .error-content .error {
  color: var(--card-primary) !important;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 3px;
  padding-top: 9px;
}
.auth-form .auth-form-body .auth-form-error .container .container-body .tbreak {
  line-break: anywhere !important;
}
.auth-form .auth-form-body .mbp2 {
  position: relative;
  margin-bottom: 8px;
  line-height: 1.5;
  padding-left: 45px;
}
.auth-form .auth-form-body .mbp2 .avatar {
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 1px rgba(240, 246, 252, 0.1);
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 16px !important;
  margin-top: 4px !important;
  left: 0 !important;
  top: 0 !important;
  position: absolute;
  padding: 5px;
  width: 32px;
  height: 32px;
}
.auth-form .auth-form-body .mbp2 .avatar svg {
  position: relative;
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: var(--color-fg-muted);
  text-align: center;
}
.auth-form .auth-form-body .mbp2 > strong {
  color: var(--card-primary);
}
.auth-form .auth-form-body .mbp2 .d-block {
  display: block !important;
}
.auth-form .auth-form-body .auth-details {
  border: 0;
  border-radius: 0 0 6px 6px;
  position: relative;
  padding: 16px;
  margin: 0;
  list-style: none;
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-bottom: 0 !important;
}
.auth-form .auth-form-body .auth-details .auth-details-icon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  float: left;
  fill: currentColor;
  color: var(--color-fg-muted);
  text-align: center;
}
.auth-form .auth-form-body .auth-details .summary {
  margin-left: 45px;
  line-height: 1.25 !important;
}
.auth-form .auth-form-body .auth-details .permission-title {
  display: block;
  color: var(--card-primary);
  margin-top: 0;
}
.auth-form .auth-form-body .auth-details .access-details {
  position: relative;
  color: #8b949e;
}
.auth-form .auth-form-body .auth-form-consent {
  padding: 24px !important;
}
.auth-form .auth-form-body .auth-form-submit {
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  position: relative;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  border: none;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  min-width: 250px;
  text-align: center;
}
.auth-form .auth-form-body .auth-form-submit:not(.btn-primary):hover {
  background-color: var(--color-btn-hover-bg) !important;
  border-color: var(--color-btn-hover-border) !important;
  transition-duration: 0.1s;
}
.auth-form .auth-form-body .auth-form-submit.btn-primary {
  --gradient-angle: 0deg;
  transition: --gradient-angle 2s ease-in-out;
  margin-top: 16px;
  background: linear-gradient(var(--gradient-angle), #f62ca4, #fb0842);
  color: #ffffff;
}
.auth-form .auth-form-body .auth-form-submit.btn-primary:hover {
  --gradient-angle: 180deg;
}
.auth-form .auth-form-body .auth-form-submit.btn-primary:hover {
  transition-duration: 0.1s;
  text-decoration: none;
}
.auth-form .auth-form-body .auth-form-submit.btn-primary:disabled, .auth-form .auth-form-body .auth-form-submit.btn-primary.disabled, .auth-form .auth-form-body .auth-form-submit.btn-primary[aria-disabled=true] {
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(35, 134, 54, 0.6) !important;
  border-color: rgba(240, 246, 252, 0.1) !important;
}
.auth-form .auth-form-body .auth-form-submit:hover {
  text-decoration: none;
}
.auth-form .auth-form-body .auth-form-footer {
  border-radius: 0 0 6px 6px;
  border-top: 1px solid var(--color-border-muted);
  margin-top: -1px;
  padding: 24px !important;
}
.auth-form .auth-form-body .auth-form-footer .auth-authozise {
  display: flex;
  justify-content: center;
}
.auth-form .auth-form-body .auth-form-footer .auth-authozise button {
  margin: 0;
}
.auth-form .auth-form-body .auth-form-footer .auth-authozise button:first-child {
  margin-right: 8px !important;
}
.auth-form .auth-form-body .full-w {
  width: 100%;
}
.auth-form .auth-form-body .mt-2 {
  margin-top: 8px !important;
}
.auth-form .auth-form-body .auth-form-redirect {
  text-align: center !important;
  font-size: 12px !important;
  margin-bottom: 0 !important;
  color: #8b949e;
}
.auth-form .auth-form-body .auth-form-redirect strong {
  color: var(--color-btn-text);
}
.auth-form .color-fg-default {
  color: var(--color-btn-text) !important;
}
.auth-form .color-fg-muted {
  color: var(--color-fg-muted) !important;
}

.ttpo {
  align-items: center;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  overflow: hidden;
  box-shadow: inset 0 0 0 var(--border-width, 0px) var(--border, var(--border-default));
  border-radius: 6px;
  background-color: #222b38;
}
.ttpo:has(input:focus) {
  --border-width: 1px;
  --border: var(--border-active);
}
.ttpo input {
  border: 0;
  color: #ececec;
  font-size: 14px;
  line-height: 18px;
  background: none;
}
.ttpo .f0n8F {
  display: flex;
  flex: 1 0 0;
  height: 36px;
  margin: 0;
  min-width: 0;
  padding: 0;
  position: relative;
}
.ttpo .f0n8F ._9nyy2 {
  color: var(--input-placeholder);
  font-size: 16px;
  height: 36px;
  left: 8px;
  line-height: 36px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  transform-origin: left;
  transition: transform ease-out 0.1s;
  white-space: nowrap;
}
.ttpo .f0n8F ._2hvTZ {
  flex: 1 0 auto;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
}
.ttpo .f0n8F .pexuQ {
  font-size: 16px;
}
.ttpo .f0n8F .zyHYP {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.ttpo .f0n8F.FATdn .pexuQ {
  font-size: 14px;
  padding: 14px 0 2px 8px !important;
}
.ttpo .f0n8F.FATdn ._9nyy2 {
  transform: scale(0.63333) translateY(-15px);
}
.ttpo.wger {
  border-color: #d55f5f;
}
.ttpo.wger :not(.f0n8F.FATdn) span {
  color: #d55f5f !important;
}

.auth-unauthorized {
  position: relative;
  padding: 16px 16px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-image: linear-gradient(rgba(248, 81, 73, 0.25), rgba(248, 81, 73, 0.25));
  border-color: rgba(248, 81, 73, 0.5);
  color: #FFF;
}
.auth-unauthorized .in {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.newsletter-form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background: var(--background);
  border: solid var(--border-width, 1.5px) var(--border, var(--border-default));
  border-radius: 9px;
  transition: box-shadow 0.25s;
}
.newsletter-form.red-stl {
  --primary: #d32f2f;
}
.newsletter-form.red-stl :hover {
  --primary: #ba2929;
}
.newsletter-form.ad-wa-srv-gb-c {
  margin: 0px 0 20px;
}
.newsletter-form:focus-within {
  --border: var(--border-active);
}
.newsletter-form input,
.newsletter-form button {
  -webkit-appearance: none;
  background: none;
  outline: none;
  display: block;
  border: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.newsletter-form input {
  width: 100%;
  flex-grow: 1;
  padding: 12px 12px 12px 16px;
  color: var(--input-text);
}
.newsletter-form input::-moz-placeholder {
  color: var(--input-placeholder);
}
.newsletter-form input::placeholder {
  color: var(--input-placeholder);
}
.newsletter-form button {
  --text-opacity: 1;
  --success-x: -12px;
  --success-stroke: 14px;
  --success-opacity: 0;
  --border-radius: 7px;
  --overflow: hidden;
  position: relative;
  margin-right: 4px;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  opacity: var(--button-opacity, 0.5);
  cursor: var(--button-cursor, not-allowed);
  filter: var(--button-filter, grayscale(65%));
  color: var(--button-text);
  border-radius: var(--border-radius);
  transform: translateZ(0);
  transition: opacity 0.25s, filter 0.25s;
  -webkit-tap-highlight-color: transparent;
}
.newsletter-form button:not(.active) {
  background: var(--primary);
}
.newsletter-form button:hover {
  background: var(--primary-dark) !important;
}
.newsletter-form button span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}
.newsletter-form button span.success {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  transform: translateX(var(--success-x)) translateZ(0);
  opacity: var(--success-opacity);
  color: var(--success);
}
.newsletter-form button span.success svg {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 4px 8px 0 0;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 14px;
  stroke: var(--success);
  stroke-dashoffset: var(--success-stroke);
}
.newsletter-form.valid {
  --button-opacity: 1;
  --button-cursor: pointer;
  --button-filter: grayscale(0%);
}

.card-separator {
  --separator-color: rgba(255, 255, 255, 0.3);
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 35px 0;
  background-color: var(--separator-color);
}
.card-separator.upper-text {
  margin: 20px 0 35px 0 !important;
}
.card-separator .separator-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 0;
  padding: 0 5px;
  background-color: var(--main-background);
  color: var(--card-primary);
  transform: translate(-50%, -50%);
}

.external-connect {
  width: 100%;
}
.external-connect > div {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.external-connect-btn {
  margin: 10px 0;
}

.intra-button {
  --intra-btn-background: #ffffff;
  --intra-btn-text: #000000;
  --intra-btn-border-radius: 4px;
  height: 44px;
  background-color: var(--intra-btn-background);
  border-radius: var(--intra-btn-border-radius);
  transition: background-color 0.5s ease;
  padding: 5px 25px;
  margin: 5px 0;
  display: flex;
  flex: 1 auto;
  position: relative;
}
.intra-button .inner {
  margin: auto 0px;
  cursor: default;
  vertical-align: middle;
  text-align: center;
  font-size: 19px;
  color: var(--intra-btn-text);
  transition: color 0.5s ease;
}
.intra-button .icon {
  height: 21px;
  width: 21px;
  vertical-align: baseline;
  margin: auto 0;
  display: inline-block;
  margin-right: 10px;
}

.player-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
.player-container .player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.player-container .player-card .card-header {
  margin-bottom: 30px;
}
.player-container .player-card .card-picture {
  display: inline-block;
  aspect-ratio: 1/1;
  max-width: 250px;
  width: 100%;
  margin: 20px;
  overflow: hidden;
  border: 2px solid var(--border-active);
  border-radius: 50%;
}
.player-container .player-card .card-picture img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.player-profile .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stat-card,
.history-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto auto auto;
  padding: 20px 30px;
}
.stat-card .card-title,
.history-card .card-title {
  margin: 0 0 20px 0;
  font-size: 1.1em;
}

.stat-card .stat-card-content {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 25px;
  padding: 0 10px;
}
.stat-card .stat-card-content .note {
  font-size: 15px;
  font-weight: 400;
}
.stat-card .stat-card-content .stat-group {
  position: relative;
  text-align: center;
  line-height: 1.5;
}
.stat-card .stat-card-content .stat-group .progress-bar {
  margin-top: 15px;
}
.stat-card .progress-bar {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--progress-bar-color);
}
.stat-card .progress-bar :first-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--value);
  background-color: green;
}
.stat-card .progress-bar :last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--value);
  width: calc(100% - var(--value));
  background-color: red;
}

.history-card .history-card-content {
  max-height: 65vh;
  overflow-y: scroll;
}

.history-row {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.history-row .win,
.history-row .lost,
.history-row .draw,
.history-row .type {
  font-size: 16px;
  font-weight: 500;
}
.history-row .win {
  color: green;
}
.history-row .lost {
  color: red;
}
.history-row .draw {
  color: blue;
}
.history-row .score {
  font-size: 15px;
}

.inner-loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.inner-loader:before, .inner-loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.inner-loader:before {
  animation: before 2s infinite;
}
.inner-loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em hsla(337, 84%, 48%, 0.75), -1em 0.5em hsla(190, 61%, 65%, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em hsla(337, 84%, 48%, 0.75), 0 0.5em hsla(190, 61%, 65%, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em hsla(337, 84%, 48%, 0.75), 1em 0.5em hsla(190, 61%, 65%, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em hsla(337, 84%, 48%, 0.75), -1em 0.5em hsla(190, 61%, 65%, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em hsla(160, 50%, 48%, 0.75), -0.5em -1em hsla(41, 82%, 52%, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 hsla(160, 50%, 48%, 0.75), -0.5em 0 hsla(41, 82%, 52%, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em hsla(160, 50%, 48%, 0.75), -0.5em 1em hsla(41, 82%, 52%, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em hsla(160, 50%, 48%, 0.75), -0.5em -1em hsla(41, 82%, 52%, 0.75);
  }
}
.ad-up-box-loader, .dot-box {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.ad-up-box-loader.blured:not(:has(.global)), .dot-box.blured:not(:has(.global)) {
  background-color: var(--loader-bg-blur);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.ad-up-box-loader:not(.mini-loader) .loader, .dot-box:not(.mini-loader) .loader {
  position: absolute !important;
  top: min(50vh, 50%);
  transform: translateY(-50%);
}
.ad-up-box-loader .loader, .dot-box .loader {
  position: relative;
  margin: 0 auto;
}
.ad-up-box-loader .loader:has(.circular)::before, .dot-box .loader:has(.circular)::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.ad-up-box-loader .loader.global, .dot-box .loader.global {
  aspect-ratio: 1/1;
  width: 100px;
  border-radius: 8px;
  background-color: var(--loader-bg-blur);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad-up-box-loader .circular, .dot-box .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.ad-up-box-loader .path:not(.ad-up-box-loader.mini-loader .path), .dot-box .path:not(.ad-up-box-loader.mini-loader .path) {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #000;
}
.ad-up-box-loader.mini-loader, .dot-box.mini-loader {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.ad-up-box-loader.mini-loader .loader, .dot-box.mini-loader .loader {
  width: 28px;
  margin: 4px;
}
.ad-up-box-loader.mini-loader .path, .dot-box.mini-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #000;
}
.ad-up-box-loader.global-main, .dot-box.global-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}

.back-button {
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  border: solid transparent 0.5px;
}
.back-button:hover {
  border-color: rgba(255, 255, 255, 0.8);
}

.ws-server-p {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #555;
  padding: 5px 10px;
  z-index: 8000;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow: hidden;
}
.ws-server-p > div {
  position: relative;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.ws-server-p > div svg {
  position: relative;
  height: 100%;
}
.ws-server-p > div svg path {
  fill: #FFF;
}
.ws-server-p p {
  line-height: 35px;
  font-size: 15px;
  line-break: anywhere;
  color: #FFF;
}
.ws-server-p .progression {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  height: 3px;
}

.render-context {
  position: relative;
  width: 100%;
  height: 100%;
}

