<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<meta name="author" content="mgama,ngennaro,mbrement,elamadon" />
	<link rel="stylesheet" href="/static/stylesheets/style.css">
	<link rel="preload" type="video/mp4" as="video" href="/static/videos/0001-0150.mp4">
</head>
<body class="variant">
	<main class="transparent">
		<div class="connection-page">
			<video class="video-player" autoplay loop muted poster="/static/images/pong_visal_1.png">
				<source src="/static/videos/0001-0150.mp4" type="video/mp4">
			</video>
			<section>

			</section>
		</div>
	</main>
</body>
</html>