<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<meta name="author" content="mgama,ngennaro,mbrement,elamadon" />
	<link rel="stylesheet" href="/static/stylesheets/style.css">
	<link rel="preload" type="video/mp4" as="video" href="/static/videos/0001-0150.mp4">
	<link rel="preload" type="image/png" as="image" href="/static/images/pong_visal_1.png">
</head>
<body class="variant">
	<main>
		<div class="connection-page">
			<video class="video-player" autoplay loop muted poster="/static/images/pong_visal_1.png">
				<source src="/static/videos/0001-0150.mp4" type="video/mp4">
			</video>
			<section>
				<div class="semi">
					<div class="cntc">
						<div class="auth-form">
							<!-- <% if (locals.is_invalid_user) { %>
								<div>
									<div class="auth-unauthorized">
										<div class="in">
											<div aria-atomic="true" role="alert">
												<strong>Nom d'utilisateur</strong> ou <strong>Mot de passe</strong> incorrect.
											</div>
										</div>
									</div>
								</div>
							<% } %> -->
							<!-- <% if (locals.is_loading_error) { %>
								<div>
									<div class="auth-unauthorized">
										<div class="in">
											<div aria-atomic="true" role="alert">
												An error occured, please try again later.
											</div>
										</div>
									</div>
								</div>
							<% } %> -->
							<div class="auth-form-body">
								<h1>Connexion</h1>
								<!-- <% if (locals.is_error) { %>
									<% if (!locals.error_no_head) { %>
									<div class="auth-form-top">
										<p>
											Sign in with 
											<strong>Swivel</strong>
											<br>
										</p>
									</div>
									<% } %>
									<div class="auth-form-error">
										<div class="container">
											<div class="container-head">
												<div class="error-title">
													<h1><span>Access denied: <%= locals.error_title || '' %></span></h1>
												</div>
											</div>
											<div class="container-body">
												<div class="error-content">
													<div class="error"><%= locals.error_message || '' %></div>
													<div class="error">Error <%= error_code %>: <%= locals.error_code_name || '' %></div>
													<% if (locals.req_origin) { %>
														<div class="error tbreak or-error">Original request: <%= locals.req_origin || '' %></div>
													<% }%>
												</div>
											</div>
										</div>
									</div>
								<% } else { %> -->
									<form data-turbo="false" action="/login" accept-charset="UTF-8" method="post">
										<div class="auth-form-input">
											<div class="ttpo form-input">
												<label class="f0n8F">
													<span class="_9nyy2">Nom d'utilisateur</span>
													<input class="_2hvTZ pexuQ zyHYP" id="identifierU" autocomplete="current-username" autocorrect="off" autocapitalize="off" required type="text" aria-required="true" name="login" value="">
												</label>
											</div>
											<div class="ttpo form-input">
												<!-- <% if (locals.redirect) { %>
													<input type="hidden" name="redirect" id="redirect" value="<%= redirect %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.return_to) { %>
													<input type="hidden" name="return_to" id="return_to" value="<%= return_to %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.timestamp) { %>
													<input type="hidden" name="timestamp" id="timestamp" value="<%= timestamp %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.client_id) { %>
													<input type="hidden" name="client_id" id="client_id" value="<%= client_id %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.login) { %>
													<input type="hidden" name="credential_type" value="password">
													<input type="hidden" name="login" id="login" value="<%= login %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.login_scope) { %>
													<input type="hidden" name="login_scope" id="login_scope" value="<%= login_scope %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.sudo_state) { %>
													<input type="hidden" name="sudo_state" id="sudo_state" value="<%= sudo_state %>" autocomplete="off" readonly>
												<% } %>
												<% if (locals.sudo_hash) { %>
													<input type="hidden" name="sudo_hash" id="sudo_hash" value="<%= sudo_hash %>" autocomplete="off" readonly>
												<% } %> -->
												<label class="f0n8F">
													<span class="_9nyy2">Mot de passe</span>
													<input class="_2hvTZ pexuQ zyHYP" id="identifierP" autocomplete="current-password" autocorrect="off" autocapitalize="off" required type="password" aria-required="true" aria-label="password" name="password" value="">
												</label>
											</div>
											<!-- <input type="submit" name="commit" value="Se connecter" class="auth-form-submit btn-primary" data-disable-with="Connection…" data-signin-label="Se connecter" data-sso-label="Connectez-vous pour accéder à la ressource"> -->
											<input type="submit" name="commit" value="Se connecter" class="auth-form-submit btn-primary" data-disable-with="Connection…" data-signin-label="Se connecter" data-sso-label="Connectez-vous pour accéder à la ressource">
										</div>
										<div class="card-separator">
											<!-- <div class="separator-text">Or</div> -->
										</div>
										<div class="external-connect">
											<div id="swivel-ref-h"></div>
										</div>
									</form>
								<!-- <% } %> -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	<script src="https://cdn.maxencegama.dev/swivel/button"></script>
	<script defer>
		document.querySelectorAll(".f0n8F").forEach((e) => {
			e.querySelector("input").oninput = (ev) => {
				ev.target.parentNode.classList.toggle("FATdn", ev.target.value.length > 0);
			};
		});
	</script>
	<script defer>
		let s = new Swivel(document.getElementById("swivel-ref-h")),
			u = new URL(document.location);
		s.init(
			"4fMHysGNahEaKcmx8LaS",
			"http://localhost:3000",
			"http://localhost:3000/callback",
			"user:apidata",
			true
		);
	</script>
</body>
</html>