<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<base href=".">
		<title>halp</title>
		<style>
			body { margin: 0; }
		</style>
		<script src="/static/javascripts/socketAPI.js"></script>
		<script type="importmap">
		{
		  "imports": {
			"three": "https://unpkg.com/three@0.160.1/build/three.module.js",
			"three/addons/": "https://unpkg.com/three@0.160.1/examples/jsm/"
			}
		}
		</script>
	</head>
	<body>
		<script type="module" src="/static/javascripts/game2player.js"></script>
	</body>
</html>
