<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	<meta name="author" content="mgama,ngennaro,mbrement,elamadon" />
	<link rel="icon" type="image/ico" href="/static/images/favicon-16x16.png" sizes="16x16">
	<link rel="apple-touch-icon" href="/static/images/favicon-32x32.png" sizes="32x32">
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
	<link rel="icon" type="image/png" href="/static/images/favicon.ico">
	<link rel="preload" as="image" href="/static/images/favicon.ico">
	<link rel="stylesheet" href="/static/style.css">
	<style>
		body {
			margin: 0;
		}
		.preload {
			position: relative; height: 100vh; width: 100vw; flex-direction: column; display: flex; align-items: center; justify-content: center;
		}
		.preload .icon {
			position: relative; height: 100px; width: 100px; border-radius: 5px; color: #24292f;
		}
		@media (prefers-color-scheme: dark) {
			.preload .icon {
				color: #c9d1d9 !important;
			}
		}
		.cls-1 {
			fill: currentColor !important;
		}
	</style>
</head>
<body class="variant">
	<div id="root"></div>
	<script src="https://cdn.maxencegama.dev/swivel/button"></script>
	<script src="/static/app.min.js"></script>
	<!-- <script src="/static/javascripts/unmf.js"></script> -->
</body>
</html>
